.suborder-detail {
	/*font-weight: bold;*/
	font-size: 15px;
}

.suborders-detail-tab {
	display: inline;
	margin: 0 10px;
	padding: 5px;
	border-radius: 10px 10px 0 0;
	background-color: #ccc;
	padding: 5px 8px;
	cursor: pointer;
}

.suborders-detail-tab.active {
	background-color: #c30e23;
	color: #fff;
}

#suborders-detail-tab-component {
	margin-top: 10px;

}
#suborders-detail-component {
	margin-bottom: 15px;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 10px;
}

.suborder-detail li {
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
	line-height: 25px;
}
.suborder-detail li:nth-child(5){
	border:none !important;
}
.suborder-detail li:nth-child(6){
	margin-top: -5px !important;
}
ul.suborder-detail{
	margin: 7px 10px;
    border: 1px solid #c30e23;
    padding: 5px;
    border-radius: 0 10px 10px;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 120px;
    /*column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;*/
}
