@media screen and (min-width:1024px) {
.sublistingwrap li .order-brn{ width:90px; height:auto; padding-bottom:10px; border-radius:10px;}
.sublistingwrap li .inquery-brn{ width:90px; height:auto;padding-bottom:10px; border-radius:10px;}
.sublistingwrap li .inquiry-txt, .sublistingwrap li .order-txt { font-size:12px;}
.order_no_box { font-size:12px;}
.titlebox { width:100%;}
}
@media screen and (max-width:1023px) {
.calculator{ width:70%;}
.product-wrap{ width:100%;}
.titlebox { width:100%;}
.order-summary-indent .less-title { font-size:14px;}
.submitbtn, .paybtn{ font-size:16px; padding:10px 15px;}
.order_no_box { font-size:15px; margin-bottom5px !important;}
.sublistingwrap li{ margin:0 3px; float:right;}
.sublistingwrap li .order-brn{ width:90px; height:auto; padding-bottom:10px; border-radius:10px;}
.sublistingwrap li .inquery-brn{ width:90px; padding: 0 5px 10px; height:auto; border-radius:5px;}
.sublistingwrap li .inquiry-txt, .sublistingwrap li .order-txt { font-size:12px;}
.txt16 { font-size:13px !important;}
}

@media screen and (max-width:768px) {
.sublistingwrap li .inquery-brn { width:90px; height:90px;}
.sublistingwrap li .doc-order { padding-top:5px;}
.sublistingwrap li .inquiry-txt { font-size:13px;}


.paidb, .notpaid, .availableb{ width:15px; height:15px;}
.paid-txt{ font-size:12px;}

.table-colors .marginB15{ margin-bottom:8px !important;}
.sublistingwrap li { margin:0 8px;}
.HomeText a { margin-right:10px; font-size:13px;}

.dine-wrap li { width:19%; margin-right:1%; margin-bottom:8px;}
.order_no_box { font-size:15px;}
.dine-wrap li:nth-child(6n) { margin-right:1%;}
.dine-wrap li:nth-child(5n) { margin-right:0px;}
.sublistingwrap li .order-txt { font-size:12px;}
}


@media screen and (max-width:767px) {
.loginpage{ width:100%; padding-top:27%;}
.loginpage .login-logo{ width:65%; margin:0 auto 30px;}
.loginpage .form-control{ height:60px; font-size:20px; padding-left:60px;}
.loginpage .form-group{ position:relative;}
.loginpage .form-round{ width:35px; height:35px; top:13px; padding-top:6px; font-size:20px;}
.loginpage .btn{ padding:8px 20px; font-size:24px; font-weight:300; text-transform:uppercase; margin-top:10px; width:100%;}
.loginpage .forget-txt a{ font-size:20px; padding-top:20px;}
.loginpage .forget-txt a{ padding-top:15px; font-size:24px; color:#666; font-weight:300; display:inline-block;}
/* Calculator page Css */
.calculator{ width:100%; margin-top:8%;} 
.calculator .calc-top{ font-size:24px; padding:15px 20px; line-height:20px;}
.calculator .calc-total li input{  height:55px; line-height:55px; font-size:26px; font-weight:600;}
.calculator .calc-indent li{ height:80px; font-size:30px; font-weight:600; line-height:80px;}
.calculator .calc-indent li.clear-txt{ font-size:20px;}
.calculator .calc-indent li.enter-txt{ font-size:20px; color:#c30e23;}
/* Product Page Css */
.product-header{ padding:60px 0 0;}
.product-wrap .product-indent{  min-height:auto; margin-bottom:20px;}
.product-header .nav-tabs > li > a{ color:#fff; font-size:14px; border:0px; padding:10px 8px; font-weight:600;}
.product-header .nav > li > a:hover, .product-header .nav > li > a:focus{ background:none;}
.product-header .nav-tabs > li.active > a, .product-header .nav-tabs > li.active > a:hover, .product-header .nav-tabs > li.active > a:focus { color:#020202; background:#fff; border:0px;}
.card-bot .btn{ font-size:20px; vertical-align:middle; margin:0 5px; padding:8px 10px;}

.sublistingwrap li{ margin:0 8px;}
.sublistingwrap li .order-brn{ width:120px; height:auto; padding-bottom:10px; border-radius:10px;}
.sublistingwrap li .inquery-brn{ width:120px; height:auto;padding-bottom:10px; border-radius:10px;}
.sublistingwrap li .inquiry-txt, .sublistingwrap li .order-txt { font-size:20px;}
.dine-wrap li{ width:48%; margin-right:1%; float:left; margin-bottom:10px; margin-left:1%;}

.dine-wrap li .dropdown-submenu .dropdown-menu {left: 50%;}
#product{ margin-top:20px;}

.cashierbox .dropdown-menu{ left:40%; top:0; border:2px solid #c30e23; background:#fff; width:160px; padding:10px; border-radius:15px;}


}
@media screen and (max-width:320px) {
/* Calculator page Css */
.calculator .calc-indent li{ height:60px; font-size:26px;line-height:60px;}
.calculator .calc-indent li.clear-txt{ font-size:18px;}
.calculator .calc-indent li.enter-txt{ font-size:18px;}
}