<div id="input-keypad">
    <div id="input-key-screen-wrapper">
        <input type="text" id="input-screen" data-buffer="0" data-maxlength="13" value="00.00">
        <ul id="input-key-list">
            <li data-num="1">1</li>
            <li data-num="2">2</li>
            <li data-num="3">3</li>
            <li data-num="4">4</li>
            <li data-num="5">5</li>
            <li data-num="6">6</li>
            <li data-num="7">7</li>
            <li data-num="8">8</li>
            <li data-num="9">9</li>
            <li id="input-clear">Clear 清除</li>
            <li data-num="0">0</li>
            <li id="input-enter">Enter 输入</li>
        </ul>
    </div>
    <div>
        <div class="form-group">
            <label>
                <input type="radio" id="pay-select" name="pay-or-tip" data-type="pay">Payment</label>
            <label>
                <input type="radio" id="tip-select" name="pay-or-tip" data-type="tip">Tip</label>
        </div>
        <div id="input-type-group" class="form-group">
            <label>
                <input type="radio" id="pay-card" name="pay" data-type="card"><img src="/pos-new/img/card.png" alt="card">Card 卡</label>
            <label>
                <input type="radio" id="pay-cash" name="pay" data-type="cash"><img src="/pos-new/img/cash.png" alt="cash">Cash 现金</label>
        </div>
        <button class="btn btn-success btn-lg" id="input-submit">Submit 提交</button>
    </div>
</div>